.changePassword{
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
}
.changePassword h3{
    font-size: 18px;
    font-weight: 600;
}
.changePasswordForm{
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 0 20px;
}
.changePasswordWrapper{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.changePasswordWrapper label{
    font-size: 15px;
    font-weight: 400;
}
.changePasswordInput{
    width: 60%;
    height: 45px;
    display: flex;
    align-items: center;
    border: 1px solid rgb(156, 156, 156);
}
.changePasswordInput input{
    flex: 13;
    height: 95%;
    border: none;
    outline: none;
    font-size: 15px;
    font-weight: 400;
}
.changePasswordInput span{
    flex: 1;
    text-align: center;
}
.changePassword span svg{
    font-size: 18px;
    color: gray;
    cursor: pointer;
}
.changePassword button{
    width: 20%;
    padding: 10px;
    background-color: #6c7ae0;
    border: none;
    color: white;
    font-size: 15px;
    font-weight: 400;
    margin-top: 10px;
    cursor: pointer;
}